name: Continuous integration

on:
  pull_request:
    branches:
      - "master"

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
      - name: Setup
        uses: actions/setup-java@v4.8.0
        with:
          java-version: "16"
          distribution: "temurin"
      - name: Test
        run: mvn --batch-mode verify
